.roll-top-container {
    .roll-top-btn {
        width: 60px !important;
        height: 60px !important;
        position: fixed;
        right: 36px;
        background-color: #d4a650;
        bottom: 60px;
        font-size: 24px !important;
        z-index: 5;
    }
}