.roll-top-container {
    .roll-chat-btn {
        width: 60px !important;
        height: 60px !important;
        position: fixed;
        right: 36px;
        background-color: rgb(80, 212, 157);
        bottom: 60px;
        font-size: 24px !important;
        z-index: 5;
    }
}